<mat-dialog-content>
  <div class="flex items-center pt-2 mb-8 gap-x-3 font-light">
    <mat-icon class="material-icons-outlined">library_music</mat-icon>
    <h1 class="mb-0-i">Sign up to Music Library</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="pt-2">
    <div>
      <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input type="username" matInput placeholder="" formControlName="username">
        <mat-error *ngIf="formErrors.isInvalid('username')">
          {{formErrors.getErrorMessage('username')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-6">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="" formControlName="email">
        <mat-error *ngIf="formErrors.isInvalid('email')">
          {{formErrors.getErrorMessage('email')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-6">
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="" formControlName="password1">
        <mat-error *ngIf="formErrors.isInvalid('password1')">
          {{formErrors.getErrorMessage('password1')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-6">
      <mat-form-field class="w-full">
        <mat-label>Password confirm</mat-label>
        <input type="password" matInput placeholder="" formControlName="password2">
        <mat-error *ngIf="formErrors.isInvalid('password2')">
          {{formErrors.getErrorMessage('password2')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-6">
      <mat-slide-toggle formControlName="group">I want to be a publisher user</mat-slide-toggle>
      <mat-error *ngIf="formErrors.isInvalid('group')">
        {{formErrors.getErrorMessage('group')}}
      </mat-error>
    </div>
    <mat-error *ngFor="let e of formErrors.nonFieldErrors" class="mt-6">
      {{e}}
    </mat-error>
    <div class="mt-8">
      <button mat-raised-button color="primary" class="w-full">
        <mat-spinner *ngIf="loading" color="accent" [diameter]="20"></mat-spinner>
        <span *ngIf="!loading">Sign up</span>
      </button>
    </div>
    <div class="mt-8">
      You already have an account? <a class="text-link" (click)="login()">Log in now</a>!
    </div>
  </form>
</mat-dialog-content>
