<mat-dialog-content>
  <div class="flex items-center pt-2 mb-8 gap-x-3 font-light">
    <mat-icon class="material-icons-outlined">account_box</mat-icon>
    <h1 class="mb-0-i">Edit profile</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="pt-2">
    <div class="flex gap-x-6">
      <div class="w-1/2">
        <mat-form-field class="w-full">
          <mat-label>First name</mat-label>
          <input type="text" matInput placeholder="" formControlName="first_name">
          <mat-error *ngIf="!!form.get('first_name')?.errors?.['serverError']">
            {{form.get('first_name')?.errors?.['serverError']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-1/2">
        <mat-form-field class="w-full">
          <mat-label>Last name</mat-label>
          <input type="text" matInput placeholder="" formControlName="last_name">
          <mat-error *ngIf="!!form.get('last_name')?.errors?.['last_name']">
            {{form.get('last_name')?.errors?.['serverError']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="mt-6">
      <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input type="username" matInput placeholder="" formControlName="username">
        <mat-error *ngIf="!!form.get('username')?.errors?.['serverError']">
          {{form.get('username')?.errors?.['serverError']}}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngFor="let e of errors" class="mt-2">
      {{e}}
    </mat-error>
    <div class="mt-8">
      <button mat-raised-button color="primary" class="w-full">
        <mat-spinner *ngIf="loading" color="accent" [diameter]="20"></mat-spinner>
        <span *ngIf="!loading">Save</span>
      </button>
    </div>
  </form>
</mat-dialog-content>
