$colors: (
  "c-1": #6b5b95,
  "c-2": #0097A7,
  "c-3": #d64161,
  "c-4": #F57C00,
  "c-5": #1976D2,
  "c-6": #4CAF50
);

.avatar-wp {
  display: inline-block;
  vertical-align: middle;
}

.avatar {
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-weight: 300;
}

.avatar.size-small {
  width: 32px;
  height: 32px;
}

@each $class, $hex in $colors {
  .avatar.#{$class} {
    background: lighten($hex, 10%);
  }
}
