<div class="p-8">
  <mat-card *ngIf="user" class="mb-6">
    <mat-card-content>
      <div class="flex space-x-6 items-center p-3">
        <h1 class="mb-0-i text-lg font-light">
          Hi, {{user.name}}!
        </h1>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!user" class="mb-6 p-3">
    <mat-card-content>
      <div class="flex space-x-8 items-center">
        <button mat-raised-button color="accent" (click)="login()">
          <mat-icon class="material-icons-outlined">login</mat-icon>
          Login
        </button>
        <mat-card-title class="mb-0-i text-lg font-light">
          Hi! <a (click)="login()" class="font-medium">Log in now</a> to start contributing to this awesome Music Library!
        </mat-card-title>
      </div>
    </mat-card-content>
  </mat-card>

  <cds-list></cds-list>
</div>
