<mat-dialog-content>
  <div class="flex items-center pt-2 mb-8 gap-x-3 font-light">
    <mat-icon class="material-icons-outlined">{{id ? 'edit' : 'add'}}</mat-icon>
    <h1 class="mb-0-i" *ngIf="!id">Add a CD</h1>
    <h1 class="mb-0-i" *ngIf="!!id">Edit CD</h1>
  </div>
  <div *ngIf="preloading" class="flex justify-center items-center preloading">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
  <form *ngIf="!preloading" [formGroup]="form" (ngSubmit)="submit()" class="pt-2">
    <div class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Nuntereggae più" formControlName="name">
        <mat-error *ngIf="formErrors.isInvalid('name')">
          {{formErrors.getErrorMessage('name')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Artist</mat-label>
        <input type="text" matInput placeholder="Rino Gaetano" formControlName="artist">
        <mat-error *ngIf="formErrors.isInvalid('artist')">
          {{formErrors.getErrorMessage('artist')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Genre</mat-label>
        <input type="text"
               placeholder="Pick one or type"
               matInput
               formControlName="genre"
               [matAutocomplete]="auto">
        <button type="button" matSuffix mat-icon-button (click)="resetGenre()" *ngIf="form.value.genre!==''" matTooltip="Reset genre">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredGenres | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formErrors.isInvalid('genre')">
          {{formErrors.getErrorMessage('genre')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Record Company</mat-label>
        <input type="text" matInput placeholder="RCA Italiana" formControlName="record_company">
        <mat-error *ngIf="formErrors.isInvalid('record_company')">
          {{formErrors.getErrorMessage('record_company')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex gap-x-4">
      <div class="w-1/2">
        <mat-form-field class="w-full">
          <mat-label>EAN Code</mat-label>
          <input type="text" matInput placeholder="000000000000" formControlName="ean_code">
          <button type="button" matSuffix mat-icon-button (click)="generateRandomEan()" *ngIf="form.value.ean_code===''" matTooltip="Set a random EAN Code">
            <mat-icon>bolt</mat-icon>
          </button>
          <mat-error *ngIf="formErrors.isInvalid('ean_code')">
            {{formErrors.getErrorMessage('ean_code')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-1/2">
        <mat-form-field class="w-full">
          <mat-label>Price</mat-label>
          <input type="text" matInput placeholder="10.99" formControlName="price">
          <span matSuffix="" class="mr-4">€</span>
          <mat-error *ngIf="formErrors.isInvalid('price')">
            {{formErrors.getErrorMessage('price')}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-error *ngFor="let e of formErrors.nonFieldErrors" class="w-full mt-2">
      {{e}}
    </mat-error>
    <div class="w-full mt-6 mx-1" *ngIf="!id">
      {{publishAsText}}
    </div>
    <div class="w-full mt-8">
      <button mat-raised-button color="primary" class="w-full">
        <mat-spinner *ngIf="loading" color="accent" [diameter]="20"></mat-spinner>
        <span *ngIf="!loading">Save</span>
      </button>
    </div>
  </form>
</mat-dialog-content>
